.Home {
  position: relative;
  width: 100%;
}

.Title {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.Title h2 {
  flex: 1;
  margin: 0;
  padding: 0;
}

.Title button {}

.Game {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.Game>div {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.Game+.Game {
  border-top: 1px solid white;
}

.Game:nth-child(2n+1) {
  background-color: #3c0c4f59;
}