:root {
  color-scheme: light dark;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* biome-ignore lint/correctness/noUnknownProperty: this exists */
  user-drag: none;
}


.localModal {
  position: absolute;
}
